/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
    font-family: "roboto";
    src : url('../public/assete/font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {

    --font-roboto: 'roboto' , sans-serif;

}
