<!-- Container -->
<div class="px-20 pt-10">
    <!-- content container /header  -->
    <div class="min-h-[90vh]   shadow p-10 rounded-3xl bg-[#ade0cf] " >
        <!-- nav bar -->
        <div class="flex items-center justify-between pb-20">
            <!--logo-->
            <div>
                <div>Logo</div>
            </div>
            <!-- nav item -->
             <div class="flex gap-10 ">
                <div class="border p-2 rounded-2xl hover:scale-[0.9] cursor-pointer transition-all ">Connexion</div>
                
             </div>
        </div>
        <!-- body -->
        <div class="flex justify-center flex-col items-center">
             <!-- Titre du container -->
        <div class="pb-8">
            <!-- Grand titre -->
             <div class="text-center">
                <h1 class="text-[44px]">Lorem ipsum dolor sit amet consectetur </h1>
                <h1 class="text-[44px]">Lorem ipsum dolor Lorem ipsum </h1>
             </div>
             <!-- sout titre -->
              <div class="text-2xl text-center text-black/80">
                <h2> dolor sit. Lorem ipsum dolor sit.</h2>
              </div>
        </div>
        <!-- Input du container -->
        <div class="w-[80%] px-20 ">
            <!-- container de forme -->
            <div class="">
                <form class="">

                    <label for="lien" class="pl-4">Collez votre lien</label>
                    <div class="flex w-full justify-center border-[#0bdfdf]  hover:border-[1px] rounded-2xl drop-shadow-2xl transition-all">
                        <input class=" w-full p-2 rounded-s-2xl outline-0  bg-[#fff] " type="url" placeholder="https://exemple.com">
                        <button class="bg-white px-8 rounded-e-2xl cursor-pointer ">GO</button>
                    </div>
                    
                </form>
                <!-- button ICP logo -->
                <div class="pt-5 flex justify-center items-center flex-col">
                    <!-- button de appele a l'action  -->
                    <button class="bg-[#47cc47] text-2xl rounded-2xl cursor-pointer text-white p-2">Commencer gratuitement</button>
                    <p class="text-[14px]">Aucune carte bancaire n'est requise</p>

                    <!-- Logo -->
                     <div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                     </div>
                </div>
                
            </div>
        </div>
        </div>
       

    </div>

</div>